{% extends "GenericPage:templates:boilerplate.html.twig" %}

{% block head_title %}
	{{ parent() }} {% trans %}home.head.title{% endtrans %}
{% endblock %}

{% block body_content %}
		<h1>{% trans %}home.body.title{% endtrans %}</h1>
{% endblock %}