<div class="inner">
    <div class="container">
        <div class="row">
            <span class="span12">
                <a href="/terms">&copy; 2012 {{ site_name|capitalize }}</a>
                <a class="pull-right" href="mailto:contact@{{ domain }}"><i class="icon-envelope"></i> Contact</a>
            </span>
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /inner -->