<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/home"></a>
        <div class="group-menu nav-collapse"> 
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                {% if auth_level > 0 %}
                    <li class="dropdown" id="userbox">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#userbox">Logged as {{ username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile"><i class="icon-profile"></i> Profile</a></li>
                            <li><a href="/account"><i class="icon-account"></i> Account</a></li>
                            <li>
                                <a href="/mailbox">
                                    <i class="icon-mailbox"></i> 
                                    {% if inbox > 0 %}<strong>{% endif %}
                                        Inbox ({{ inbox }})
                                    {% if inbox > 0 %}</strong>{% endif %}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/{{ page }}/language/fr"><i class="icon-language"></i> French (Français)</a></li>
                            <li class="divider"></li>
                            <li><a href="/{{ page }}/logout"><i class="icon-off"></i> Logout</a></li>
                        </ul> <!-- /dropdown-menu -->
                    </li> <!-- /dropdown -->
                {% else %}
                    <li>
                        <a data-toggle="modal" href="#login">Login</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a data-toggle="modal" href="#registration">Register</a>
                    </li>
                {% endif %}
            </ul> <!-- /nav -->
            <form id="searchbar" action="/catalog/search" class="navbar-search pull-right">
                <input type="text" name="search-games" placeholder="Search for games..." />
            </form> <!-- /searchbar -->
        </div> <!-- /group-menu -->
    </div> <!-- /container -->
</div> <!-- /navbar-inner -->