<div class="subnavbar-inner">
    <div class="container">
        <ul class="mainnav">
            {% for section, pages in site_map %}
                {% if section|slice(0, 1) != '_' %}
                    {% for p, permission in pages %}
                        {% if (permission == 0 or (auth_level >= permission)) and (section == p or pages.page is defined) %}
                            <li class="{% if pages.page is defined %}category{% endif %} {% if p|lower == page %}active{% endif %} {% if section == page and section != p %}noshow{% endif %}">
                                <a {% if p|lower != page %}href="{{ p }}"{% endif %}>
                                    <i class="icon-{{ p }}"></i> 
                                    <span>{{ p|capitalize }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul> <!-- /mainnav -->
    </div> <!-- /container -->
</div> <!-- /subnavbar-inner -->