<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>Administration</h1>
	<nav>
		<ul>
			<li><a href="">Administration</a></li>
		</ul>
	</nav>
</body>
</html>