{% extends "GenericSite::index.html.twig" %}

{% block head_title %}
	{{ parent() }} {% trans %}Administration{% endtrans %}
{% endblock %}

{% block body_container_header %}
	<h1>{% trans %}Administration{% endtrans %}</h1>
{% endblock %}