{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_title %}GROCOM - Administration{% endblock %}
{% block body_container_header %}<h1>Administration</h1>{% endblock %}
{% block body_container_footer %}&copy;GROCOM{% endblock %}