{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_title %}
	{% trans %}site.head.title{% endtrans %}
{% endblock %}

{% block body_container_footer %}
	&copy;{% trans %}site.footer.copyright{% endtrans %}
{% endblock %}

{% block body_chromeframe %}
	<!--[if lt IE 7]>
		<p class=chromeframe>
			{% trans %}boilerplate.browser.ancient{% endtrans %}
		</p>
	<![endif]-->
{% endblock %}