{% extends "GenericSite:templates:boilerplate.html.twig" %}

{% block head_title %}
	{{ parent() }} {% trans %}home.head.title{% endtrans %}
{% endblock %}

{% block body_container_header %}
	<h1>
		{% trans %}home.body.title{% endtrans %}
	</h1>
{% endblock %}